# Общие настройки проекта
PROJECT_NAME=apples
COMPOSE_PROJECT_NAME=apples

# Настройки портов
NGINX_PORT=8080
DB_PORT=3306

# Настройки базы данных
DB_VERSION=8.0
DB_HOST=db                  # Имя сервиса в docker-compose.yml
DB_NAME=apples_db
DB_USER=apples_user
DB_PASSWORD=replace_with_super_secret_password
DB_ROOT_PASSWORD=replace_with_very_secret_root_password

# Настройки PHP
PHP_VERSION=8.4.15-fpm-alpine3.21
